{% extends 'tasks/base.html' %}

{% block content %}
  
  <div class="container task-detail-box">

    <h1 class="task-title">Task: {{ task.title }}</h1>

    <p><strong>Description:</strong> {{ task.description }}</p>
    <p><strong>Status:</strong> {{ task.status_display }}</p>
    <p><strong>Priority:</strong> {{ task.get_priority_display }}</p>
    <p><strong>Due Date:</strong> {{ task.due_date }}</p>
    <p><strong>Created At:</strong> {{ task.created_at }}</p>
    <p><strong>Updated At:</strong> {{ task.updated_at }}</p>

    <div class="task-detail-actions">
      <a href="{% url 'task_update' task.pk %}" class="task-btn">Edit Task</a>
      <a href="{% url 'task_delete' task.pk %}" class="task-btn">Delete Task</a>
      <a href="{% url 'task_list' %}" class="task-btn">Back to Task List</a>
    </div>

  </div>
{% endblock %}